ion-card-header {
  display: flex;
  flex-flow: column-reverse;
}

ion-card-title {
  font-size: 22px;
  margin-bottom: 10px;
}

ion-card {
  min-width: 170px;
  height: 90%;
  margin: 10px;
  margin-left: 0;
}

ion-col {
  padding: 0;
  display: flex;
}

ion-card-subtitle {
  margin: 0;
}

ion-col img {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  margin: auto;
  justify-self: left;
}
