<ion-card
  (click)="openMapsApp([gasStation['Latitude'], gasStation['Longitude']])"
>
  <ion-card-header>
    <ion-card-subtitle>{{ gasStation["Nome"] }}</ion-card-subtitle>
    <ion-card-title>
      <ion-row center>
        <ion-col
          ><img class="station-logo" src="{{ loadLogo() }}" alt="" />
        </ion-col>
        <ion-col>{{ gasStation["Preco"] }}</ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="gasStation['Latitude']">
    <ion-row bottom>
      <ion-col>
        {{
          distance(location, [gasStation["Latitude"], gasStation["Longitude"]])
        }}
        Km
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
