@if (gasStations && gasStations.length > 0) {
  <div class="horizontal-container">
    @if (sectionTitle) {
      <h3 class="section-title">{{ sectionTitle }}</h3>
    }
    <div class="horizontal-scroll">
      <div class="scroll-content">
        @for (gasStation of gasStations; track trackByStation($index, gasStation)) {
          <app-gas-station-card-small
            [gasStation]="gasStation"
            [location]="location"
            (stationClicked)="onStationClicked($event)">
          </app-gas-station-card-small>
        }
      </div>
    </div>
    <!-- Scroll Indicators -->
    @if (showIndicators && gasStations.length > 3) {
      <div class="scroll-indicators">
        <button
          class="scroll-btn scroll-left"
          (click)="scrollLeft()"
          [disabled]="!canScrollLeft">
          <ion-icon name="chevron-back"></ion-icon>
        </button>
        <button
          class="scroll-btn scroll-right"
          (click)="scrollRight()"
          [disabled]="!canScrollRight">
          <ion-icon name="chevron-forward"></ion-icon>
        </button>
      </div>
    }
  </div>
}
